<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Sacred Heart Computer and Vocational Center</title>

    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="/assets/css/feather.css">

    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>

    <div class="main-wrapper">

        <header class="header header-page">
            <div class="header-fixed">
                <%- include("includes/student-loggedIn-nav") %>
            </div>
        </header>


        <section class="page-content course-sec course-lesson">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">

                        <div class="lesson-group">
                            <div class="course-card">
                                <h6 class="cou-title">
                                    <a class="collapsed" data-bs-toggle="collapse" href="#collapseOne"
                                        aria-expanded="false">Chapter 1 <span>5 Lessons</span> </a>
                                </h6>
                                <div id="collapseOne" class="card-collapse collapse" style="">
                                    <div class="progress-stip">
                                        <div class="progress-bar bg-success progress-bar-striped active-stip"></div>
                                    </div>
                                    <div class="student-percent lesson-percent">
                                        <p>10hrs<span>50%</span></p>
                                    </div>
                                    <ul>
                                        <li>
                                            <p class="play-intro">Introduction</p>
                                            <div>
                                                <img src="/assets/img/icon/play-icon.svg" alt="">
                                            </div>
                                        </li>
                                        <li>
                                            <p>Course Introduction </p>
                                            <div>
                                                <img src="/assets/img/icon/lock.svg" alt="">
                                            </div>
                                        </li>
                                        <li>
                                            <p>About the Exam</p>
                                            <div>
                                                <img src="/assets/img/icon/lock.svg" alt="">
                                            </div>
                                        </li>
                                        <li>
                                            <p>About the Course</p>
                                            <div>
                                                <img src="/assets/img/icon/lock.svg" alt="">
                                            </div>
                                        </li>
                                        <li>
                                            <p>Building Our Scenario</p>
                                            <div>
                                                <img src="/assets/img/icon/lock.svg" alt="">
                                            </div>
                                        </li>
                                        <li>
                                            <p>Learnings</p>
                                            <div>
                                                <img src="/assets/img/icon/lock.svg" alt="">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="course-card">
                                <h6 class="cou-title">
                                    <a class="collapsed" data-bs-toggle="collapse" href="#course2"
                                        aria-expanded="false">Chapter 2 <span>8 Lessons</span> </a>
                                </h6>
                                <div id="course2" class="card-collapse collapse" style="">
                                    <div class="progress-stip">
                                        <div class="progress-bar bg-success progress-bar-striped active-stip"></div>
                                    </div>
                                    <div class="student-percent lesson-percent">
                                        <p>10hrs<span>50%</span></p>
                                    </div>
                                    <ul>
                                        <li>
                                            <p class="play-intro">Introduction</p>
                                            <div>
                                                <img src="/assets/img/icon/play-icon.svg" alt="">
                                            </div>
                                        </li>
                                        <li>
                                            <p>Course Introduction </p>
                                            <div>
                                                <img src="/assets/img/icon/lock.svg" alt="">
                                            </div>
                                        </li>
                                        <li>
                                            <p>About the Exam</p>
                                            <div>
                                                <img src="/assets/img/icon/lock.svg" alt="">
                                            </div>
                                        </li>
                                        <li>
                                            <p>About the Course</p>
                                            <div>
                                                <img src="/assets/img/icon/lock.svg" alt="">
                                            </div>
                                        </li>
                                        <li>
                                            <p>Building Our Scenario</p>
                                            <div>
                                                <img src="/assets/img/icon/lock.svg" alt="">
                                            </div>
                                        </li>
                                        <li>
                                            <p>Learnings</p>
                                            <div>
                                                <img src="/assets/img/icon/lock.svg" alt="">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="course-card">
                                <h6 class="cou-title">
                                    <a class="collapsed" data-bs-toggle="collapse" href="#course3"
                                        aria-expanded="false">Chapter 3 <span>7 Lessons</span> </a>
                                </h6>
                                <div id="course3" class="card-collapse collapse" style="">
                                    <div class="progress-stip">
                                        <div class="progress-bar bg-success progress-bar-striped active-stip"></div>
                                    </div>
                                    <div class="student-percent lesson-percent">
                                        <p>12hrs<span>50%</span></p>
                                    </div>
                                    <ul>
                                        <li>
                                            <p class="play-intro">Introduction</p>
                                            <div>
                                                <img src="/assets/img/icon/play-icon.svg" alt="">
                                            </div>
                                        </li>
                                        <li>
                                            <p>Course Introduction </p>
                                            <div>
                                                <img src="/assets/img/icon/lock.svg" alt="">
                                            </div>
                                        </li>
                                        <li>
                                            <p>About the Exam</p>
                                            <div>
                                                <img src="/assets/img/icon/lock.svg" alt="">
                                            </div>
                                        </li>
                                        <li>
                                            <p>About the Course</p>
                                            <div>
                                                <img src="/assets/img/icon/lock.svg" alt="">
                                            </div>
                                        </li>
                                        <li>
                                            <p>Building Our Scenario</p>
                                            <div>
                                                <img src="/assets/img/icon/lock.svg" alt="">
                                            </div>
                                        </li>
                                        <li>
                                            <p>Learnings</p>
                                            <div>
                                                <img src="/assets/img/icon/lock.svg" alt="">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="course-card">
                                <h6 class="cou-title">
                                    <a class="collapsed" data-bs-toggle="collapse" href="#coursefour"
                                        aria-expanded="false">Chapter 4 <span>5 Lessons</span> </a>
                                </h6>
                                <div id="coursefour" class="card-collapse collapse">
                                    <div class="progress-stip">
                                        <div class="progress-bar bg-success progress-bar-striped active-stip"></div>
                                    </div>
                                    <div class="student-percent lesson-percent">
                                        <p>8hrs<span>50%</span></p>
                                    </div>
                                    <ul>
                                        <li>
                                            <p class="play-intro">Introduction</p>
                                            <div>
                                                <img src="/assets/img/icon/play-icon.svg" alt="">
                                            </div>
                                        </li>
                                        <li>
                                            <p>Course Introduction </p>
                                            <div>
                                                <img src="/assets/img/icon/lock.svg" alt="">
                                            </div>
                                        </li>
                                        <li>
                                            <p>About the Exam</p>
                                            <div>
                                                <img src="/assets/img/icon/lock.svg" alt="">
                                            </div>
                                        </li>
                                        <li>
                                            <p>About the Course</p>
                                            <div>
                                                <img src="/assets/img/icon/lock.svg" alt="">
                                            </div>
                                        </li>
                                        <li>
                                            <p>Building Our Scenario</p>
                                            <div>
                                                <img src="/assets/img/icon/lock.svg" alt="">
                                            </div>
                                        </li>
                                        <li>
                                            <p>Learnings</p>
                                            <div>
                                                <img src="/assets/img/icon/lock.svg" alt="">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="course-card">
                                <h6 class="cou-title">
                                    <a class="collapsed" data-bs-toggle="collapse" href="#coursefive"
                                        aria-expanded="false">Chapter 5 <span>8 Lessons</span> </a>
                                </h6>
                                <div id="coursefive" class="card-collapse collapse">
                                    <div class="progress-stip">
                                        <div class="progress-bar bg-success progress-bar-striped active-stip"></div>
                                    </div>
                                    <div class="student-percent lesson-percent">
                                        <p>15hrs<span>40%</span></p>
                                    </div>
                                    <ul>
                                        <li>
                                            <p class="play-intro">Introduction</p>
                                            <div>
                                                <img src="/assets/img/icon/play-icon.svg" alt="">
                                            </div>
                                        </li>
                                        <li>
                                            <p>Course Introduction </p>
                                            <div>
                                                <img src="/assets/img/icon/lock.svg" alt="">
                                            </div>
                                        </li>
                                        <li>
                                            <p>About the Exam</p>
                                            <div>
                                                <img src="/assets/img/icon/lock.svg" alt="">
                                            </div>
                                        </li>
                                        <li>
                                            <p>About the Course</p>
                                            <div>
                                                <img src="/assets/img/icon/lock.svg" alt="">
                                            </div>
                                        </li>
                                        <li>
                                            <p>Building Our Scenario</p>
                                            <div>
                                                <img src="/assets/img/icon/lock.svg" alt="">
                                            </div>
                                        </li>
                                        <li>
                                            <p>Learnings</p>
                                            <div>
                                                <img src="/assets/img/icon/lock.svg" alt="">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-8">

                        <div class="student-widget lesson-introduction">
                            <div class="lesson-widget-group">
                                <h4 class="tittle">Introduction</h4>
                                <div class="introduct-video">
                                    <a href="https://www.youtube.com/embed/1trvO6dqQUI" class="video-thumbnail"
                                        data-fancybox="">
                                        <div class="play-icon">
                                            <i class="fa-solid fa-play"></i>
                                        </div>
                                        <img class="" src="/assets/img/video-img-01.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>


        <%- include("includes/footer") %>

    </div>


    <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="/assets/js/jquery-3.6.0.min.js"></script>

    <script src="/assets/js/bootstrap.bundle.min.js"></script>

    <script src="/assets/js/script.js"></script>
</body>

</html>